<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{getUsername()}}</h2>
            <h4>{{getEmail()}}</h4>
        </div>  
        <img src="{{getPicture()}}" alt="{{getUsername()    }}">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/control">Control Panel</a>
    
    
    <mat-divider></mat-divider>
     
</mat-nav-list>
